* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: Oswald;
}

header {
    border-bottom: solid #93DDEF; 
    color: #FFFFFF;
    background-color: #0D3E75;
    padding: 2rem;

}

a:hover{
    font-size: 2rem;
}

.top-section{
    margin: 2rem;
    line-height: 2rem;
}

.dog-traits{
    margin: 1rem 2rem;
    background-color: #F0EDEE;
    padding: 1rem;
}

/* .dog-traits div{
    display: inline-flex;
    flex-direction: row;
} */

.traits{
    margin-right: 3rem;
    vertical-align: top;
    display: inline-block;
}

.dog-list{
    display: inline-flex;
    flex-direction: row;
    margin-left: 2rem;
    flex-wrap: wrap;
}

.dogs img {
    width: 350px;
}

.dogs{
    padding-right: 1rem;
}

.dogs li{
    display: inline-flex;
    font-size: 0.5rem;
    flex-direction: row;
    flex-wrap: wrap;
    border: solid white;
    border-radius: 10px;
    background-color: #93DDEF;
    padding: 0.25rem;
}