* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: Oswald;
}

header {
    border-bottom: solid #93DDEF; 
    color: #FFFFFF;
    background-color: #0D3E75;
    padding: 2rem;

}

a:hover{
    font-size: 2rem;
}

.top-section{
    margin: 2rem;
    line-height: 2rem;
}

.dog-traits{
    margin: 1rem 2rem;
    background-color: #F0EDEE;
    padding: 1rem;
}

.traits{
    margin-right: 3rem;
    display: inline-block;
    vertical-align: top;
}

.dog-list{
    margin-left: 2rem;
}

img {
    width: 300px;
}