* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: Oswald;
    /* background-color: grey; */
}

header {
    border-bottom: solid #93DDEF; 
    color: #FFFFFF;
    background-color: #0D3E75;
    padding: 2rem;

}

a:hover{
    font-size: 2rem;
}

.top-section{
    margin: 2rem;
    line-height: 2rem;
}

.dog-traits{
    margin: 1rem 2rem;
    background-color: #F0EDEE;
    padding: 1rem;
}

/* .dog-traits div{
    display: inline-flex;
    flex-direction: row;
} */

.traits{
    margin-right: 3rem;
    vertical-align: top;
    display: inline-block;
}

.dog-list{
    display: inline-flex;
    flex-direction: row;
    margin-left: 2rem;
    flex-wrap: wrap;
}

.dogs{
    margin-right: 1rem;
    margin-bottom: 1rem;
    width: 31%;
    /* overflow: hidden; */
    /* background-color: white; */
    /* justify-content: stretch; */
}

.dogs img {
    width: 100%;
}

.dogs li{
    display: inline-flex;
    font-size: 0.5rem;
    flex-direction: row;
    flex-wrap: wrap;
    /* border: solid white; */
    border-radius: 10px;
    background-color: #93DDEF;
    padding: 0.25rem;
}

/* footer div{
    width: 33.333333%;
    height: 250px;
    text-align: center;
} */
/* .footer-div {
    justify-content: space-between;
} */

/* Images aren't resizing when browswer window shrinks */

/* .footer-div-titles h2{
    position:relative;
    top:-250px;
    line-height:250px;
    width:350px;
    font-family: "Oswald";
    color:#FFFFFF;
    font-size:40px;
    text-align: center;
    vertical-align: middle;
    margin:0;
} */

footer{
    display: flex;
    text-align: center;
    height: 300px;
    line-height: 300px;
    color: white;
}

.donate{
    background: linear-gradient(rgba(30, 9, 110, 0.5),rgba(30, 9, 110, 0.5)), 
            no-repeat center/cover url('starter_files/images/donate.jpg');
    /* background: linear-gradient(rgba(30, 9, 110, 0.5),rgba(30, 9, 110, 0.5)),
            no-repeat center/cover url('starter_files/images/donate.jpg'); */
    width: 33.33333%;
}

.volunteer{
    background: linear-gradient(rgba(30, 9, 110, 0.5),rgba(30, 9, 110, 0.5)), 
            no-repeat center/cover url('starter_files/images/volunteer.jpg');
    width: 33.33333%;
}

.location{
    background: linear-gradient(rgba(30, 9, 110, 0.5),rgba(30, 9, 110, 0.5)), 
            no-repeat center/cover url('starter_files/images/location.png');
    width: 33.33333%;
}



